
.icon-progress-0:before { content: '\e800'; } /* '' */
.icon-progress-1:before { content: '\e801'; } /* '' */
.icon-progress-2:before { content: '\e802'; } /* '' */
.icon-progress-3:before { content: '\e803'; } /* '' */
.icon-progress-4:before { content: '\e804'; } /* '' */
.icon-progress-5:before { content: '\e805'; } /* '' */
.icon-progress-6:before { content: '\e806'; } /* '' */
.icon-progress-7:before { content: '\e807'; } /* '' */
.icon-minus-circle:before { content: '\e808'; } /* '' */
.icon-plus-circle:before { content: '\e809'; } /* '' */
.icon-ok-circle:before { content: '\e80a'; } /* '' */
.icon-cancel-circle:before { content: '\e80b'; } /* '' */
.icon-right-fat:before { content: '\e80c'; } /* '' */
.icon-left-fat:before { content: '\e80d'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */