$font-inconsolata: "Inconsolata", monospace;
$font-lemonada: "Lemonada", cursive;

// $color-mine: black;
// $color-second: white;
// $color-activ: red;
// $box-shadow: 5px 5px 10px 5px white;
$color-mine: #1f3840;
$color-second: #ebe4cc;
$color-activ: #1edcfe;
$box-shadow: 5px 5px 10px 5px black;

$border-color: #8a2be2;
$lvl-O-color: #444444;
$lvl-I-color: #c0c0c0;
$lvl-II-color: #008000;
$lvl-III-color: #0000ff;
$lvl-IV-color: #800080;
$lvl-V-color: #ff6600;
$lvl-VI-color: #cc0000;
$lvl-VII-color: #ffcc00;

$height: 40px;
$height-menu: 70px;
$height-before-expand: 55px;
$height-after-expand: 295px;
$border: 3px;
$border-radius: 10px;
$animation-delay: 0.5s;
